@*@model IEnumerable<ProEventApp.Models.Professional>*@

@model ProEventApp.Models.Professional


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="landing-page-content">
    <h1 class="text-primary">Professionals</h1>

    <h2 class="text-muted">Find the Professional!</h2>
    
    @using (Html.BeginForm("ListOfProsByProfessions", "Professional"))
    {
        @*<div class="input-group">
            <input type="text" class="form-control" id="search_query" placeholder="Type who you looking for">
            <div class="input-group-append">
                <button type="submit" id="Search" name="search_query" class="btn btn-primary">Search</button>
            </div>
        </div>*@
        <p>
            <h3 class="text-muted">Who are you looking for:</h3> <input type="text" name="search_query"/>
            <input type="submit" value="Search" class="btn btn-primary"/>
        </p>
    }
</div>
