@model IEnumerable<ProEventApp.Models.Professional>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Professionals</h2>

<h2>Find the Professional by his profession!</h2>
<br />
<br />
<br />
@using (Html.BeginForm("ListOfProsByProfessions", "Professional"))
{
    <div style="float:left; padding: 10px 0 0 100px; width:50%">
        Search: <input type="text" id="search_query" name="search_query" style="width: 225px" />
        <input type="submit" id="Search" value="Search" />
    </div>
}
<br /><br /><br /><br />
