@model IEnumerable<ProEventApp.Models.Profession>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Professions</h2>
@if (!Model.Any())
{
    <p>We don't have any professions yet.</p>
    
}
else
{

    
    <table class="table table-bordered table-hover table-dark table-striped">
        <thead class="bg-primary">
        <tr>
            <th>Profession</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var profession in Model)
        {
            <tr>
                <td>@profession.Name</td>
                <td>@profession.Category.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

